@using FansPen.Web.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}



<img src="~/images/banner1.svg" alt="" class="img-thumbnail">
<ul class="nav nav-pills nav-stacked">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a asp-action="Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a asp-action="ChangePassword">Password and External logins</a></li>
    <li class="@ManageNavPages.DisplayUserFanficsNavClass(ViewContext)"><a asp-action="DisplayUserFanfics">Your fanfics</a></li>
    @*@if (hasExternalLogins)
        {
            <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins">External logins</a></li>
        }
        <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>*@
</ul>

<div class="@ManageNavPages.AddNewFanficNavClass(ViewContext)"><a asp-action="AddNewFanfic">Add new fanfic</a></div>
