@using Microsoft.AspNetCore.Mvc.Localization
@model HomeViewModel

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<div id="content">
    <div class="col-sm-2">
        <ul id="Category" class="nav nav-tabs nav-pills nav-stacked well">
            @foreach (var item in Model.Categorys)
            {
                <li><a href="#vtab1" data-toggle="tab">@Localizer[item.Name]</a></li>
            }
        </ul>
    </div>
    <div class="col-sm-8">
        @foreach (var item in Model.Fanfics)
        {
            <div class="thumbnail">
                <div class="row autherBlock">
                    <div class="col-sm-6 com-xs-12">
                        <div class="col-xs-2">
                            <img class="avatarImg" src="@item.ApplicationUser.AvatarUrl">
                        </div>
                        <div class="col-xs-10">
                            <div class="col-xs-12" style="overflow:hidden">
                                @item.ApplicationUser.UserName
                            </div>
                            <div class="col-xs-12" style="overflow:hidden">
                                @item.CreateDate.ToShortDateString()
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 starsRating" style="overflow:hidden">
                        <form class="rating" title="@item.AverageRating">
                            @{
                                var rating = Math.Round(item.AverageRating);
                                for (int i = 1; i <= 5; i++)
                                {
                                    var check = rating == i ? "checked" : "";
                                    <label>
                                        <input type="radio" name="stars" disabled value="@i" @check />
                                        @for(int j = 1; j <= i; j++)
                                        {
                                            <span class="icon">★</span>
                                        }
                                    </label>
                                }
                            }
                        </form>
                    </div>
                </div>
                <div class="imgFanfic">
                    <div class="titleFanfic">
                        <h4 class="titleFanficH4">@item.Name</h4>
                    </div>
                    <img src="@item.ImgUrl">
                </div>
                <div class="caption">
                    <p>@item.Description , @Context.Request.Host@Context.Request.Path@Context.Request.QueryString</p>
                    <p><a href="#" class="btn btn-primary" role="button">@item.Category.Name</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
                </div>
            </div>
        }
    </div>
</div>