@using Microsoft.AspNetCore.Mvc.Localization
@model List<FanficViewModel>

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}
<div id="content">
    <div class="row">
        <div class="col-sm-3" style="background:red;height:100px">
            <div class="row">
                <ul id="Category" class="nav nav-tabs nav-pills nav-stacked well">
                    <li class="active"><a href="#vtab1" data-toggle="tab">@Localizer["All"]</a></li>
                    <li><a href="#vtab2" data-toggle="tab">@Localizer["Anime"]</a></li>
                    <li><a href="#vtab3" data-toggle="tab">@Localizer["Games"]</a></li>
                    <li><a href="#vtab3" data-toggle="tab">@Localizer["Books"]</a></li>
                    <li><a href="#vtab3" data-toggle="tab">@Localizer["Other"]</a></li>
                    <li><a href="#vtab3" data-toggle="tab">@Localizer["Сomics"]</a></li>
                    <li><a href="#vtab3" data-toggle="tab">@Localizer["Films"]</a></li>
                </ul>
            </div>
            <div class="row">
                <div class="TagCloud">

                </div>
            </div>
        </div>
        <div class="col-sm-9" style="background:blue;height:1000px">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>CategoryId</th>
                        <th>CategoryName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Name)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Id)</td>
                        <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>