@using Microsoft.AspNetCore.Mvc.Localization
@model List<FanficViewModel>

@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Home Page";
}

<div id="content">
    <div class="row">
        <div class="col-sm-2 affix-sidebar">
            <div class="row">
                <div id="Category" class="navbar-nav" style="height:110px">
                    <div class="affix active" style="padding-left:20px">
                        <a href="#" data-toggle="collapse" data-target="#toggleDemo0" data-parent="#sidenav01" class="collapsed">
                            <h3>
                                <span class="glyphicon glyphicon-th-list"></span>
                                All
                            </h3>
                        </a>
                        <div class="collapse" id="toggleDemo0" style="height: 0px;">
                            <ul class="nav nav-list">
                                <li><a href="#vtab2" data-toggle="tab">@Localizer["Anime"]</a></li>
                                <li><a href="#vtab3" data-toggle="tab">@Localizer["Games"]</a></li>
                                <li><a href="#vtab3" data-toggle="tab">@Localizer["Books"]</a></li>
                                <li><a href="#vtab3" data-toggle="tab">@Localizer["Other"]</a></li>
                                <li><a href="#vtab3" data-toggle="tab">@Localizer["Сomics"]</a></li>
                                <li><a href="#vtab3" data-toggle="tab">@Localizer["Films"]</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-sm-8" style="background:blue;height:1000px">
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>CategoryId</th>
                        <th>CategoryName</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category.Id)</td>
                            <td>@Html.DisplayFor(modelItem => item.Category.Name)</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col-sm-2 affix-sidebar">
            <div class="row">
                <div class="affix" style="padding-left: 20px">
                    <h3>
                        <span class="glyphicon glyphicon-tags"></span>
                        Tags
                    </h3>
                    <div class="" style="height: 120px">
                        <div class="glyphicon active">
                            <a href="#" class="glyphicon glyphicon-tag">News<span class="badge">5</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Comments<span class="badge">10</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Updates<span class="badge">2</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Piski<span class="badge">5</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Siski<span class="badge">10</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Zhops<span class="badge">2</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Pidor<span class="badge">5</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Gavno<span class="badge">10</span></a>
                            <a href="#" class="glyphicon glyphicon-tag">Dovgechic<span class="badge">2</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>