@using System.Linq
@using Microsoft.AspNetCore.Mvc.Localization

@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = @Localizer["SignButton"];
    var currentValue = Context.Request.QueryString.ToString() != "" ?
        Context.Request.QueryString.ToString().Split('=')[1] : "";
}

@if (currentValue.Contains("confirmed"))
{ 
    <div class="alert alert-dismissible alert-info fixed-error-builder">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        @Localizer["Confirmed"]
    </div>
}
<div class="row" id="LoginMain">
    <div class="col-md-4 col-sm-2 LogImage">
        <div class="row">
            <img class="LogImage" src="~/images/sticks/4.png" draggable="false" />
            <img class="LogImage" src="~/images/sticks/1.png" draggable="false" />
        </div>
        <div class="col-md-offset-2 LogImage">
            <img class="LogImage" src="~/images/sticks/5.png" draggable="false" />
        </div>
    </div>

    <div class="col-xs-offset-0 col-xs-12 col-md-offset-0 col-md-4 col-sm-offset-2 col-sm-5">
        <div class="row" style="text-align: center">
            <div style="padding-left:0px;">
                <h4 id="SignInLabel">
                    <span class="glyphicon glyphicon-log-in" aria-hidden="true"> </span>
                    @Localizer["Sign"]
                </h4>
            </div>
        </div>
        <br>
        <section class="panel panel-default">
            <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                <div class="panel-body">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label>@Localizer["Username"]</label>
                        <input asp-for="UserName" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label>@Localizer["Password"]</label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="row">
                        <div class="col-md-6 checkbox" id="LoginRememberMe">
                            <input asp-for="RememberMe" />
                            @Localizer["Remember"]
                        </div>
                        <div class="col-md-6" id="LoginForgot">
                            <a asp-action="ForgotPassword" draggable="false">@Localizer["Forgot"]</a>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-success btn-block">@Localizer["SignButton"]</button>
                    </div>
                </div>
            </form>

            <div class="row" style="text-align:center">
                <div>
                    <section>
                        @{
                            var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            <form asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {
                                            <input draggable="false" class="LoginProviders" type="image" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account" src="~/images/ExternalLogins/@provider.DisplayName .png">
                                        }
                                    </p>
                                </div>
                            </form>
                        }
                    </section>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-4 col-sm-2 LogImage">
        <div class="row">
            <img class="LogImage" src="~/images/sticks/3.png" draggable="false" />
            <img class="LogImage" src="~/images/sticks/2.png" draggable="false" />
        </div>
        <div class="col-md-offset-2">
            <img class="LogImage" src="~/images/sticks/6.png" draggable="false" />
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
