@using Microsoft.AspNetCore.Mvc.Localization
@using FansPen.Web.Helpers

@model FanficViewModel

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.Name.ToString();
}

<div class="contentOther">
    <div class="col-sm-10 col-sm-offset-1 fanficBlock">

        @if (UserManager.GetUserId(User) == Model.ApplicationUser.Id) {
            <div class="col-sm-1 col-sm-offset-10 col-xs-6 tool-bar-fanfic">
                <a title="@Localizer["Edit"]" class="edit-button-fanfic" href="/FanficBuilder?fanficid=@Model.Id" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
            </div>
            <div class="col-sm-1 col-xs-6 align-right-mobile tool-bar-fanfic">
                <button title="@Localizer["Delete"]" class="button-initial" type="button" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        }

        <div class="col-xs-12 text-center">
            <h2 class="nameFanfic">@Model.Name</h2>
        </div>
        <div class="col-sm-6 authorData">
            <p><a href="/Profile?id=@Model.ApplicationUser.Id"><b>@Model.ApplicationUser.UserName</b></a> <span class="small-text">@Model.CreateDate.ToShortDateString()</span></p>
        </div>
        <div class="col-sm-6 starsRating">
            <form class="rating" title="@Model.AverageRating">
                @{
                    var rating = Math.Round(Model.AverageRating, MidpointRounding.AwayFromZero);
                    for (int i = 1; i <= 5; i++)
                    {
                        var check = rating == i ? "checked" : "";
                        <label>
                            <input type="radio" name="stars" disabled value="@i" @check />
                            @for (int j = 1; j <= i; j++)
                            {
                                <span class="icon">★</span>
                            }
                        </label>
                    }
                }
            </form>
        </div>
        <div class="col-sm-6">
            <a href="/Topic?id=@Model.Topics.First().Id">
                <div class="img-fanfic">
                    <div class="start-fanfic">
                        <h3 class="start-fanfic-text"><i class="fa fa-play-circle" aria-hidden="true"></i> @Localizer["Start"]</h3>
                    </div>
                    <img src="@Model.ImgUrl" />
                </div>
            </a>
            <div class="category-tag-list">
                <a href="/Category?value=@Model.Category.Name" class="categoryButton">@Localizer[Model.Category.Name]</a>
                @foreach (var tag in Model.Tags)
                {
                    <a href="/Tag?value=@tag.Name" class="tagButton">#@tag.Name</a>
                }
            </div>
        </div>
        <div class="col-sm-6">
            <h4>@Localizer["Description"]</h4>
            <p class="description-fanfic">@Html.ToHTML(Model.Description)</p>
            <h4>@Localizer["Contents"]</h4>
            @foreach (var item in Model.Topics)
            {
                <a href="/Topic?id=@item.Id" class="contents-fanfic"><p><b>@Localizer["Chapter"] @item.Number. </b>@item.Name</p></a>
            }
        </div>

        @* Comments block *@
        <div class="col-xs-12">
            <hr><div class="hidden" id="FanficId">@Model.Id</div>
        </div>
        <div class="col-xs-12">
            <h4>@Localizer["Comments"] <span id="countComments">(@Model.Comments.Count())</span></h4>
        </div>
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-xs-12 send-comment-fanfic">
                <textarea id="commentText" placeholder="@Localizer["WriteComment"]" maxlength="1000" class="form-control" rows="2"></textarea>
                <div class="">
                    <a id="sendButton" class="btn btn-success" disabled>@Localizer["Send"]</a>
                </div>
            </div>
            <div class="col-xs-12"><hr /></div>
        }
        <div class="col-xs-12 comment-div">
        </div>
    </div>
</div>


@* MODAL WONDOW *@
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">@Localizer["DeleteTitle"]</h4>
            </div>
            <div class="modal-body">
                @Localizer["DeleteMessage"]
            </div>
            <div class="modal-footer">
                <form style="float:left" action="/DeleteFanfic" method="post">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <button class="btn btn-danger">@Localizer["Delete"]</button>
                </form>
                <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["Cancel"]</button>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @await Html.PartialAsync("_CommentScripts")
}


