@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta name="google-site-verification" content="WwZqE-Ibz3vVUKWT8KtZXmPjoYO6V6mWZooTCrF1RIM" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    @if (Context.Request.Cookies["theme"] == "dark")
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/dark.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/light.css" />
    }

    <link rel="stylesheet" asp-href-include="~/css/*.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="https://widget.cloudinary.com/global/all.js" type="text/javascript"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script type="text/javascript" src="~/lib/upndown-master/lib/upndown.bundle.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div id="mobileLogo"><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand"><img src="~/images/icons/logo.png" /></a></div>
            </div>
            <div class="col-xs-2" id="deskLogo"><a href="/Fanfic?id=1234" class="navbar-brand" draggable="false"><img src="~/images/icons/logo.png" /></a></div>
            <div class="navbar-collapse collapse">

                <div class="col-xs-5">
                    <form method="get" action="/Search" role="search">
                        <input type="text" name="value" id="mySearch" placeholder="@Localizer["Search"]">
                    </form>
                </div>
                <div id="themeBlock" class="col-xs-2 col-sm-1">
                    @{ var themeUrl = "";
                        if (Context.Request.Cookies["theme"] == "dark")
                        {
                            themeUrl = "moon.svg";
                        }
                        else
                        {
                            themeUrl = "nomoon.svg";
                        }
                        <form asp-area="" asp-controller="Home" asp-action="Theme" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" method="post">
                            <button type="submit">
                                <img src="~/images/icons/@themeUrl" draggable="false" />
                            </button>
                        </form>
                    }
                </div>
                <div id="langBlock" class="col-xs-2 col-sm-1">
                    @await Html.PartialAsync("_SelectLanguagePartial")
                </div>
                <div class="row">
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jQuery-Tags-Input-master/dist/jquery.tagsinput.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/lib/jQuery-Tags-Input-master/dist/jquery.tagsinput.min.css" />

    @RenderSection("Scripts", required: false)
</body>
</html>
