@using Microsoft.AspNetCore.Http;
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <environment include="Development">
        @if (Context.Request.Cookies["theme"] == "dark")
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-darkly.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        }
        else
        {
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-flatly.css" />
            <link rel="stylesheet" href="~/css/site.css" />
        }
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    <link rel="stylesheet" asp-href-include="~/css/*.css" asp-append-version="true" />
    @*<link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/lenta.css" />*@
    <script defer src="~/lib/fontawesome-free-5.0.6/on-server/js/fontawesome-all.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="row">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div id="mobileLogo"><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">FansPen</a></div>
                </div>
                <div class="col-sm-2" id="deskLogo"><a href="/Fanfic?id=1234" class="navbar-brand">FansPen</a></div>
                <div class="navbar-collapse collapse">

                    <div class="col-sm-6">
                        <form method="get" action="/Search" id="mySearch" role="search">
                            <input type="text" name="value" placeholder="@Localizer["Search"]">
                        </form>
                    </div>
                    <div id="themeBlock" class="col-sm-1">
                        @{ var themeUrl = "";
                            if (Context.Request.Cookies["theme"] == "dark")
                            {
                                themeUrl = "moon.svg";
                            }
                            else
                            {
                                themeUrl = "nomoon.svg";
                            }
                            <form asp-area="" asp-controller="Home" asp-action="Theme" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" method="post">
                                <button type="submit">
                                    <img src="~/images/icons/@themeUrl" />
                                </button>
                            </form>
                        }
                    </div>
                    <div id="langBlock" class="col-sm-1">
                        @await Html.PartialAsync("_SelectLanguagePartial")
                    </div>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
