@using Microsoft.AspNetCore.Identity
@using FansPen.Web.Models
@using Microsoft.AspNetCore.Mvc.Localization
@using FansPen.Web.Controllers

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div id="LoginRegBlock" class="col-sm-3">
    @if (SignInManager.IsSignedIn(User))
    {
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a href="#" id="userIcon" class="dropdown-toggle" data-toggle="dropdown"><img id="headerAvatar" src="@Context.Request.Cookies["avatarUrl"]" /><i class="fa fa-caret-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="/Profile?id=@UserManager.GetUserId(User)"><i class="fa fa-user-circle-o" aria-hidden="true"></i> @UserManager.GetUserName(User)</a></li>
                    <li class="divider"></li>
                    <li><a href="/FanficBuilder"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> @Localizer["Newfan"]</a></li>
                    <li class="divider"></li>
                    <li>
                        <form class="formlink" asp-area="" asp-controller="Account" asp-action="Logout" asp-route-returnUrl="@string.Format("{0}://{1}{2}{3}", Context.Request.Scheme, Context.Request.Host, Context.Request.Path, Context.Request.QueryString)" method="post" id="logoutForm">
                            <button type="submit" class="btnlink"><i class="fa fa-sign-out" aria-hidden="true"></i> @Localizer["Singout"]</button>
                        </form>
                    </li>
                </ul>
            </li>
        </ul>
    }
    else
    {
        <div id="LogReg">
            <a asp-area="" asp-controller="Account" asp-action="Register">@Localizer["Singup"]</a> @Localizer["Or"] <a asp-area="" asp-controller="Account" asp-action="Login">@Localizer["Singin"]</a>
        </div>
    }
</div>
