@using Microsoft.AspNetCore.Mvc.Localization
@using System.Text.RegularExpressions;
@using FansPen.Web.Helpers

@model TopicViewModel

@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = Model.Name;
    string titleString;
    if (Context.Request.QueryString.ToString().Contains("readmode"))
    {
        titleString = "DefaultMode";
    }
    else
    {
        titleString = "ReadMode";
    }
}

<div class="contentOther">
    <div class="progress-read far-right">
        0%
    </div>
    <a href="/Fanfic?id=@Model.Fanfic.Id">
        <div title="@Localizer["ToContents"]" class="fixed-top-button navRead">
            <i class="fa fa-reply" aria-hidden="true"></i>
        </div>
    </a>
    <div title="@Localizer[titleString]" class="fixed-read-button navRead">
        <i class="fa fa-book" aria-hidden="true"></i>
    </div>
    @if (Model.Number - 1 != 0)
    {
        <a class="prev-button" href="/Topic?id=@Model.Fanfic.Topics.Where(x => x.Number == Model.Number - 1).First().Id">
            <div title="@Localizer["Chapter"] @Model.Number. @Model.Fanfic.Topics.Where(x => x.Number == Model.Number - 1).First().Name" class="fixed-left-button navRead">
                <i class="fa fa-chevron-left" aria-hidden="true"></i>
            </div>
        </a>
    }
    @if (Model.Number < Model.Fanfic.Topics.Count())
    {
        <a class="next-button" href="/Topic?id=@Model.Fanfic.Topics.Where(x => x.Number == Model.Number + 1).First().Id">
            <div title="@Localizer["Chapter"] @Model.Number. @Model.Fanfic.Topics.Where(x => x.Number == Model.Number + 1).First().Name" class="fixed-right-button navRead">
                <i class="fa fa-chevron-right" aria-hidden="true"></i>
            </div>
        </a>
    }
    <div class="col-xs-10 col-xs-offset-1 fanficBlock">
        <div class="text-center">
            <h2 class="nameFanfic">@Localizer["Chapter"] @Model.Number. @Model.Name</h2>
        </div>
        @if (Model.ImgUrl != " ")
        {
            <div class="col-sm-10 col-sm-offset-1">
                <img class="image-topic" src="@Model.ImgUrl" />
            </div>
        }

        <div class="col-xs-12 text-topic">
            <div class="col-xs-12">
                @Html.ToHTML(Model.Text)
            </div>
        </div>

        @if (SignInManager.IsSignedIn(User))
        {
            <div class="col-sm-6  text-left">
                <div class="col-xs-12 your-mark-topic"><b>@Localizer["YourMark"]</b></div>
                <div class="col-xs-12">
                    <form class="setable-rating">
                        @{
                            for (int i = 1; i <= 5; i++)
                            {
                                var check = Model.UserRating == i ? "checked" : "";
                                <label>
                                    <input type="radio" name="stars" value="@i" @check />
                                    @for (int j = 1; j <= i; j++)
                                    {
                                        <span class="icon">★</span>
                                    }
                                </label>
                            }
                        }
                    </form>
                </div>
            </div>
            <div class="col-sm-6 average-rating-topic">
                <div class="col-xs-12">
                    <b>@Localizer["Average"]</b>
                    <span class="emoji-star-topic">★</span>
                    <span id="averageTopic">@Model.AverageRating</span>
                </div>
                <div class="col-xs-12">
                    <b>@Localizer["Vote"]</b>
                    <span id="countRating">@Model.Ratings.Count()</span>
                </div>
            </div>
        }
        else
        {
            <div class="col-xs-12 average-rating-topic">
                <div class="col-xs-12">
                    <b>@Localizer["Average"]</b>
                    <span class="emoji-star-topic">★</span>
                    <span id="averageTopic">@Model.AverageRating</span>
                </div>
                <div class="col-xs-12">
                    <b>@Localizer["Vote"]</b>
                    <span id="countRating">@Model.Ratings.Count()</span>
                </div>
            </div>
        }

        @* Comments block *@
        <div id="commentsBlock">
            <div class="col-xs-12">
                <hr><div class="hidden" id="FanficId">@Model.FanficId</div>
            </div>
            <div class="col-xs-12">
                <h4>@Localizer["Comments"] <span id="countComments">(@Model.Fanfic.Comments.Count())</span></h4>
            </div>
            @if (SignInManager.IsSignedIn(User))
            {
                <div class="col-xs-12 send-comment-fanfic">
                    <textarea id="commentText" placeholder="@Localizer["WriteComment"]" maxlength="1000" class="form-control" rows="2"></textarea>
                    <div class="">
                        <a id="sendButton" class="btn btn-success" disabled><i class="fa fa-paper-plane-o" aria-hidden="true"></i> @Localizer["Send"]</a>
                    </div>
                </div>
                <div class="col-xs-12"><hr /></div>
            }
            <div class="col-xs-12 comment-div">
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ReadMode")
    @await Html.PartialAsync("_CommentScripts")
    @await Html.PartialAsync("_SetRating")
}
